APP_NAME=ZKP Voting Simulator
DATABASE_URL=sqlite:///./data/zkp_voting.db

ZKP_ARTIFACTS_DIR=./zkp_artifacts
ADMIN_USERNAME=your-admin-username
ADMIN_PASSWORD=your-admin-password
SESSION_SECRET_KEY=your-session-secret-key
